In [1]:
import yfinance as yf

In [26]:
tickers = ['AAPL', 'JPM', 'MSFT']

In [36]:
data = yf.download(tickers, start="1990-09-01", end="2024-09-01", interval="1d")

[*********************100%***********************]  3 of 3 completed

In [39]:
mydata = data['Adj Close']
mydata.index = mydata.index.tz_localize(None)

In [40]:
mydata.head()

Ticker          AAPL       JPM      MSFT
Date
1990-09-04  0.262725  2.535362  0.532032
1990-09-05  0.255625  2.592983  0.504255
1990-09-06  0.253849  2.564171  0.491435
1990-09-07  0.258288  2.636200  0.493572
1990-09-10  0.253849  2.598192  0.476479

In [41]:
import pandas as pd
import numpy as np
from fredapi import Fred
fred = Fred(api_key='dbc938743655482a0f341e0216a5c36e')

In [45]:
interest_rate = fred.get_series('FEDFUNDS', start_date='2004-09-01', end_date='2024-09-01')
unemployment_rate = fred.get_series('UNRATE', start_date='2004-09-01', end_date='2024-09-01')
interest_rate_df = interest_rate.to_frame(name='Interest_Rate')
unemployment_rate_df = unemployment_rate.to_frame(name='Unemployment_Rate')

<bound method NDFrame.head of             Interest_Rate
1954-07-01           0.80
1954-08-01           1.22
1954-09-01           1.07
1954-10-01           0.85
1954-11-01           0.83
...                   ...
2024-07-01           5.33
2024-08-01           5.33
2024-09-01           5.13
2024-10-01           4.83
2024-11-01           4.64

[845 rows x 1 columns]>